body{color: #333; font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; font-size:12px; font-weight:normal; line-height:18px;}

h1{color:#000; font-size:24px; line-height:27px; margin-bottom:36px; margin-left:-34px; margin-top:54px;}
#content h1:first-child{margin-top:0;}
h1 span{display:block; font-size:14px; font-weight:normal; line-height:16px; margin-top:9px;}
h2{border-bottom:1px solid #ff008a; clear:both; color:#ff008a; font-size:20px; line-height:27px; margin-bottom:18px; margin-left:-34px; margin-top:36px; padding-bottom:8px;}
h3{border-bottom:1px dotted #999; color:#000; font-size:18px; margin-left:-23px; margin-bottom:18px; margin-top:27px; padding-bottom:8px;}
h4{color:#000; font-size:16px; margin-left:-11px; margin-bottom:18px; margin-top:18px;}
h5{color:#000; font-size:14px; margin-bottom:18px; margin-top:18px;}
	h5 small{color:#333; font-weight:normal; font-size:11px;}
	h5 + p, 
	h5 + pre{margin-top:-9px;}
h6{color:#666; font-size:13px; margin-bottom:18px; margin-top:18px;}

a{color: #006fce;}
a img{border:0;}
a.top{font-size:10px;}

:target{background: #fffabb; border:1px dotted #f4ed9d; padding:0 8px;}
:target:before{content: "→ ";}

pre code,
pre kbd{background:#fafafa; border:1px solid #ccc; display:block; font-size:11px; overflow:auto; padding:8px 10px;}
pre kbd{background:#fafafa url("../img/9f9e9e-1x1.png") repeat-x top left; border-top:1px solid #bbb;}
pre code var,
pre kbd var{font-weight:bold;}
code, kbd, samp, var{font-family:monospace;}

.folder-path, .file-path{color: #555; font-family:monospace;}

dl{margin:18px 0;}
dt{font-weight:bold; margin-top:9px;}
dd{margin-left:9px;}

del{opacity:.5; text-decoration: line-through;}
ins{}

strong{}
em{color:#a8005a;}

p{margin:18px 0;}
p.warning{background:#fffabb; border:1px dotted #f4ed9d; padding:8px 11px;}
p.note{background:#E1F2FF; border:1px dotted #D7EEFF; padding:8px 11px;}

li{margin-bottom:9px;}
li ul, li ol{margin-top:9px;}

.g{overflow:auto;}
.g li, .g .gc{float:left;}
.g4 li, .g4 .gc{width:25%;}

#doc{margin:36px auto; width:918px;}
#content{float:right; padding-left:34px; width:624px;}
#sub-content{float:left; width:242px; position:fixed;}

.screenshots{font-size:11px; margin:0; overflow:auto; padding:0;}
.screenshots li{list-style-type:none; margin:0 18px 18px 0; padding:0; text-align:center; height:235px; width:190px;}
.screenshots a{border:none; text-decoration:none;}
.screenshots img{border:1px solid #006fce; display:block;  margin-bottom:9px; overflow:hidden; height:190px; width:190px;}
.screenshots br{display:none;}

.figure-a{float:left;}

#toc ul, #toc li{margin:0; padding:0; list-style-type:none;}
#toc li{font-weight:bold;}
#toc li a{text-decoration:none;}
#toc > ul > li > a{color: #005299;}
#toc li li{font-weight:normal; font-size:11px; margin-left:18px;}
#toc li.tag > a > span{background:url("../img/icon-tag-10x10.png") no-repeat center right; padding-right:16px;}
.toc-header span{font-size:11px;}
.toc-header{padding-right:36px; position:relative;}
.toc-header .top{margin-top:-9px; position:absolute; right:0; text-shadow:none; top:50%;}

.clear:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
* html .clear{height: 1%;}
* > html .clear{display:inline-block;}